/* Stylesheet for index.html */

.sites-table
{
	padding:0px;
}

.sites-table TR.descriptions TD
{
	padding:10px;
}

.sites-table TR.descriptions TD P
{
	width:150px;
}

IMG.site-logo
{
	display:block;
	border:1px solid black;
}

.site-logo-cell
{
	width:150px;
	padding-left:5px;
	padding-right:5px;
}

.site-log-description-block
{
	width:140px;
	padding-left:5px;
	padding-right:5px;
}
