dl.events-list
{
/*	list-style-position:outside; */
	margin-right:20px;
}

dl.events-list > dt
{
	font-weight:bold;
}

dl.events-list > dd
{
	margin-top:20px;
	margin-right:21px;
	margin-bottom:20px;
}

dl.events-list > dd dl dt
{
	font-weight:bold;
}

dl.events-list > dd dl dd
{
}
